#root {
  padding-bottom: 30px; }

.flex {
  display: flex; }

.App {
  text-align: center; }

.App-header {
  background: radial-gradient(ellipse at center, #021d02 0%, #021d02 50%, #000000 100%);
  padding: 38px 20px;
  color: white;
  margin-bottom: 28px; }

.App-title {
  font-size: 4.5em; }

.App-intro {
  font-size: large;
  margin-bottom: 24px; }

.tabbed-form {
  border: 1px solid #464545;
  border-top: none;
  padding: 22px 26px 26px;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden; }

.main-content {
  text-align: left; }

.tabbed-form .btn {
  margin-top: 16px;
  float: right; }

.member-list-panel {
  margin-top: 20px; }

.member-list-panel h4 {
  text-align: center;
  margin-top: 20px; }

.member-list-panel tr {
  border: solid; }

.online-indicator.offline {
  background-color: #888888; }

.online-indicator.online {
  background-color: #30ca66; }

.filter-member {
  margin-top: 20px;
  text-align: center; }

.filter-member .panel-body {
  text-align: left; }

.main-root {
  padding-top: 60px; }

.margin-buttons {
  margin: 0px 5px 0px 0px !important; }

.title-text {
  margin-top: 0px; }

.exercise-row {
  cursor: pointer; }

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }

.modal .reward span {
  font-size: 32px;
  margin: 0px 0px -10px; }

.modal .reward h1 {
  font-size: 90px;
  margin: 0px; }

.modal .reward.smaller h1 {
  font-size: 62px; }

.modal .build-error-panel {
  margin: 20px 0px 0px; }

.modal .build-error-panel .panel-body {
  min-height: 300px; }

.modal .build-error-panel .list-group-item {
  color: #ff422e; }

.modal .build-error-panel .list-group {
  margin-bottom: 0px; }

.quill {
  background-color: #FFFFFF; }

.ql-editor {
  color: #000000;
  min-height: 200px; }

.progress {
  width: 100%; }

.modal .progress {
  margin-top: 5px;
  margin-bottom: 0px;
  height: 22px; }

.label.category-label {
  font-size: 15px;
  font-weight: normal;
  padding: 10px 20px 12px;
  margin-right: 5px;
  display: inline-block; }

.tip-modal strong {
  font-size: 24px; }

.exercise-table tbody tr {
  cursor: pointer; }
