@charset "UTF-8";
#root {
  padding-bottom: 30px; }

.main-root a.list-group-item {
  color: white; }

.flex {
  display: flex; }

.App {
  text-align: center; }

.full {
  width: 100vw;
  height: 100vh; }

.loading .sk-spinner {
  color: #999; }

.loading.full .sk-spinner {
  width: 82px;
  height: 82px; }

.App-header {
  background: radial-gradient(ellipse at center, #021d02 0%, #021d02 50%, #000000 100%);
  padding: 38px 20px;
  color: white;
  margin-bottom: 28px; }

.App-title {
  font-size: 4.5em; }

.App-intro {
  font-size: large;
  margin-bottom: 24px; }

.tabbed-form {
  border: 1px solid #464545;
  border-top: none;
  padding: 22px 26px 26px;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden; }

.main-content {
  text-align: left; }

.tabbed-form .btn {
  margin-top: 16px;
  float: right; }

.member-list-panel {
  margin-top: 20px; }

.member-list-panel h4 {
  text-align: center;
  margin-top: 20px; }

.member-list-panel tr {
  border: solid; }

.online-indicator.offline {
  background-color: #888888; }

.online-indicator.online {
  background-color: #30ca66; }

.filter-member {
  margin-top: 20px;
  text-align: center; }

.filter-member .panel-body {
  text-align: left; }

.main-root {
  padding-top: 60px; }

.margin-buttons {
  margin: 0px 5px 0px 0px !important; }

.title-text {
  margin-top: 0px; }

.exercise-row {
  cursor: pointer; }

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }

.centralize-h {
  display: flex;
  justify-content: center; }

.error-list {
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 12px; }

.centralize-v {
  display: flex;
  align-items: center; }

.flex-right {
  margin-left: auto; }

.modal .reward span {
  font-size: 32px;
  margin: 0px 0px -10px; }

.modal .reward h1 {
  font-size: 90px;
  margin: 0px; }

.modal .reward.smaller h1 {
  font-size: 62px; }

.modal .build-error-panel {
  margin: 20px 0px 0px; }

.modal .build-error-panel .panel-body {
  min-height: 300px; }

.modal .build-error-panel .list-group-item {
  color: #ff422e; }

.modal .build-error-panel .list-group {
  margin-bottom: 0px; }

.quill {
  background-color: #FFFFFF; }

.ql-editor {
  color: #000000;
  min-height: 200px; }

.progress {
  width: 100%; }

.modal .progress {
  margin-top: 5px;
  margin-bottom: 0px;
  height: 22px; }

.label.category-label {
  font-size: 15px;
  font-weight: normal;
  padding: 10px 20px 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block; }

.tip-modal strong {
  font-size: 24px; }

.exercise-table tbody tr {
  cursor: pointer; }

.professores {
  max-height: 200px;
  overflow: auto; }

.alunos {
  max-height: 200px;
  overflow: auto; }

.text-nonResize {
  min-height: 350px;
  resize: horizontal; }

.main-root .rc-input-number {
  box-sizing: content-box;
  background-color: #FFFFFF; }

.container-div {
  display: inline-block; }

.padded-top {
  padding-top: 10px !important; }

.top-margin, .v-margin, .margin {
  margin-top: 10px !important; }

.right-margin, .h-margin, .margin {
  margin-right: 15px !important; }

.bottom-margin, .v-margin, .margin {
  margin-bottom: 10px !important; }

.left-margin, .h-margin, .margin {
  margin-left: 15px !important; }

.no-top-margin, .no-v-margin {
  margin-top: 0 !important; }

.no-right-margin, .no-h-margin {
  margin-right: 0 !important; }

.no-bottom-margin, .no-v-margin {
  margin-bottom: 0 !important; }

.no-left-margin, .no-h-margin {
  margin-left: 0 !important; }

.no-margin {
  margin: 0 !important; }

.react-tagsinput {
  background-color: #BDBDBD;
  border: 1px solid #BDBDBD;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px; }

.react-tagsinput--focused {
  border-color: #BDBDBD; }

.react-tagsinput-tag {
  background-color: #E0E0E0;
  border-radius: 16px;
  border: none;
  color: #000000;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px; }

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold; }

.react-tagsinput-tag a::before {
  content: "×";
  background-color: #ddd;
  color: #000000;
  border-radius: 8px;
  margin: 5px; }

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #000000;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px; }

#select{height: 50px;width: 200px;border-radius: 10px;font-size: 20px;color: black;background-color: rgb(96, 96, 96);text-align: center;border: none;}
#userSettingButton{margin-left: 30px;padding: 10px 14px 10px 14px;font-size: 20px;color: black;border-radius: 10px;background-color: rgb(0, 116, 27);border: none}