.h2, .h3, .h4, h2, h3, h4 {
	margin-top: 0px;
}

.main-container {
	padding-top: 50px;
}

.main-title {
	margin-top: 25px;
	margin-bottom: 25px;
}

.member-list {
	
}

.title-row {
	display: flex;
	align-items: center;
}

.filters {
	padding-top: 4px;
	text-align: right;
}

.filters span {
	font-size: 9px;
}

.member-search {
	margin-top: 20px;
	margin-bottom: 20px;
}

.panel-body .list-group:last-child {
	margin-bottom: 0px;
}

.exercise-table tbody tr {
	cursor: pointer;
}

.member-list .badge.online {
	background-color: #30ca66;
}

.exercise-table td {
	padding: 10px !important;
}

.exercise-table th{
	padding: 8px 10px !important;
}